.collapsable
	*
		box-sizing: border-box
	// .accordion

	// .accordion__item

	// .accordion__title

	.accordion__body
		padding 10px 20px 0 20px
		display block
		animation fadein 0.35s ease-in
	.accordion__body--hidden
		display none
		opacity 0
		animation fadein 0.35s ease-in

	.u-position-absolute
		position absolute
	.u-position-relative
		position relative
	.accordion__item--has-icon
		position relative
	.accordion__title > *:last-child,
	.accordion__body > *:last-child
		margin-bottom 0

	// ANIMATION
	@keyframes fadein
			0%
				opacity: 0
				height: 0
			100%
				opacity: 1
				height: 100%
