#news
	.news-header
		background-color: $color
		width: 100%
		height: auto
		margin: 50px 0

	#archive
		.campaign
			font-weight: $f-bold
			margin-bottom: 10px
			a
				font-weight: $f-light
				color: $black
				&:hover
					color: lighten($black, 50%)
