body.mobile{
	align-items: center;
}

.galeria{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	-js-display: block;
	display: block;
	display: block;
	-webkit-align-items: center;
	align-items: center;
}

.galeria figure{
	width: 100%;
	position: relative;
	font-size: 16px;
	color: #333;
	position: absolute;
	left: 0;
	text-align: center;

	transition: transform .5s;
	-webkit-transition: transform .5s;
	-moz-transition: transform .5s;
	-o-transition: transform .5s;
	-ms-transition: transform .5s;
}

.galeria .proximo{
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
}

.galeria .anterior{
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
}

.galeria img{
	width: auto;
	max-width: 100%;
	max-height: calc(100vw * 600/970);
}

.galeria figcaption{
	color:#fff;
	width:100%;
	padding: .5em 10px 10px;
	line-height:1.3em;
	text-align:left;
}

.galeria figcaption span{
	font-size:12px;
	display:block;
	padding-top:10px;
}

.galeria button{
	position:absolute;
	width:50%;
	height:100%;
	border:none;
	outline:none;
	background-color:rgba(0,0,0,0);
	top:0;
	cursor:pointer;
	padding:0;
	opacity:.7;

	transition:opacity .3s;
	-webkit-transition:opacity .3s;
	-moz-transition:opacity .3s;
	-o-transition:opacity .3s;
	-ms-transition:opacity .3s;
}

.not-mobile .galeria button:hover{
	opacity:1;

	transition:opacity .3s;
	-webkit-transition:opacity .3s;
	-moz-transition:opacity .3s;
	-o-transition:opacity .3s;
	-ms-transition:opacity .3s;
}

.galeria .esq{
	left:0;
	display:none;
}

.galeria .dir{
	right:0;
}

.galeria .gal-seta{
	position:absolute;
	top:50%;
	height:100px;
	width:50px;
	background:rgba(0, 188, 214,0.8);

	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.galeria .esq .gal-seta{
	left:0;
}

.galeria .dir .gal-seta{
	right:0;
}

.galeria .gal-seta:after{
	content:'';
	width:0;
	height:0;
	position:absolute;
	top:40px;
}

.galeria .dir .gal-seta:after{
	border-top:7px solid rgba(255,255,255,0);
	border-bottom:7px solid rgba(255,255,255,0);
	border-right:10px solid rgba(255,255,255,0);
	border-left:10px solid rgba(255,255,255,1);
	left:25px;
}

.galeria .esq .gal-seta:after{
	border-top:7px solid rgba(255,255,255,0);
	border-bottom:7px solid rgba(255,255,255,0);
	border-left:10px solid rgba(255,255,255,0);
	border-right:10px solid rgba(255,255,255,1);
	left:5px;
}