// Fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:700,400);

// Our variables
$sans: 'Montserrat', sans-serif;
$serif: 'Roboto Slab', serif;
$font-size: 18px;
$line-height: 22px;
$font-weight: 400;

// CORES
$gray: rgb(68, 68, 68); // Cinza (legendas)
$black: #000;
$white: #FFF;
$color:#ffa500;

// Mixin Media Query
@mixin media($queryString){
    @media screen and (max-width: #{$queryString}) {
      @content;
    }
}

// FONT SIZES
// 100 - Thin
// 200 - Extra Light (Ultra Light)
// 300 - Light
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)

// use with @include
@mixin font($font-face: $serif, $font-weight: $font-weight, $font-size: null, $line-height: null) {
	font-family: $font-face;
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
